<!-- obstacle/launch/obstacle.launch -->
<launch>
  <node pkg="obstacle" type="obstacle_controller_node.py" name="obstacle_controller" output="screen">
    <param name="lane_drive_vel_cmd" value="1000"/>
    <param name="obst_vel_cmd"       value="602.0"/>
    <param name="servo_center"       value="0.5"/>
    <param name="stop_trigger_dist"  value="1.2"/>
    <param name="engage_dist_static" value="0.7"/>
    <param name="near_y_min"         value="0.2"/>
    <param name="first_lane"         value="true"/>
  </node>
  <include file="$(find obstacle_detect)/launch/obstacle.launch" />


  <!-- <node pkg="sequence_manager" type="sequence_manager_node.py" name="sequence_manager" output="screen"/> -->
</launch>
