<launch>
    <arg name="ekf" default="true"/>
    <arg name = "viz" default = "false"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu"
    args="0.0 0.0 0.12 0.0 0.0 0.0 1.0 base_link imu"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_lidar"
    args="0.11 0.0 0.13 0.0 00 0.0 1.0 base_link velodyne"/>
    <!-- slam을 위한 월드좌표계 변환 --> 
    <!-- slam을 위한 월드좌표계 변환 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map"
      args="6.76641102416992 17.163759915771484 0 0 0 0 1 world map"/>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map"
        args="-6.77 -17.16 0 0 0 0.291 0.957 world map"/> -->

    <node pkg="wego" type="lidar_convert" name="lidar_convert"/>

    <include file="$(find racecar)/launch/teleop.launch"/>

    <group if = "$(arg ekf)">
        <include file="$(find robot_localization)/launch/dual_ekf_navsat_example.launch"/>
    </group>
    <group unless = "$(arg ekf)">
        <node pkg="wego" type="pub_odom.py" name="pub_odom"/>
    </group>

    <!-- <node name="rviz_teleop" pkg="rviz" type="rviz" args="-d $(find wego)/rviz/display.rviz" /> -->
</launch>



