<launch>
  <!-- Controller -->
  <include file="$(find control)/launch/controller.launch" />

  <!-- Lane Follower -->
  <include file="$(find lane_follower)/launch/lane_follower.launch" />

  <!-- Sequence Manager -->
  <include file="$(find sequence_manager)/launch/sequence_manager.launch" />

  <!-- Traffic Light -->
  <include file="$(find traffic_light)/launch/traffic_light.launch" />
</launch>